.filter {
    &Wrapper {
        position: relative;
    }

    &List {
        display: none;
        position: absolute;
        right: 0;
        // top: -$sp-5x;
        width: 380px;
        padding: $sp-4x;
        background-color: white;
        z-index: 1;
        border-radius: $rad-4x;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        flex-direction: column;

        @media (max-width: $breakpoint-md) {
            display: flex;
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            bottom: -100%;
            transition: bottom 0.3s ease;
            z-index: 11;
        }
    }

    &Background {
        @media (max-width: $breakpoint-md) {
            background-color: black;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 10;
            opacity: 0.6;
        }
    }
}

.visiable {
    @media (min-width: $breakpoint-md) {
        display: flex;
    }

    @media (width: $breakpoint-md) {
        bottom: 0;
    }

    @media (max-width: $breakpoint-md) {
        bottom: 0;
    }
}

.selectsWrapper {
    display: flex;
    flex-direction: column;
    gap: $sp-3x;
}

.input {
    flex-grow: 1;
    padding: $sp-4x $sp-4x $sp-4x $sp-10x * 1.3;
    border-radius: $rad-4x;
    border: none;
    background-color: #F6F6F6;
    font-size: $font-size-subtitle;
    background-image: url(/search.svg);
    background-repeat: no-repeat;
    background-position: $sp-4x;
    backdrop-filter: blur(10px);
}