.hidden {
    display: none;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    margin: 0;
    flex-wrap: wrap;

    @media (max-width: $breakpoint-sm) {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-around;
        overflow-x: hidden;

        & li {
            flex-grow: 1;
            & .button {
                width: 100%;
            }
        }
    }
}

.button {
    padding: $sp-2x $sp-3x;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    border-radius: $rad-5x;
    color: $black-main;

    &Active {
        background-color: $cyan-main !important;
        color: $white-main;

        &:hover {
            cursor: auto;
        }
    }

    &Dots {
        color: $black-400;

        &:hover {
            background-color: transparent !important;
            cursor: auto;
        }
    }

    &:hover {
        background-color: $blue-200;
    }

    @media (max-width: $breakpoint-sm) {
        padding: $sp-2x $sp-3x;
    }
}